/* hide  */
.hidden {display: none;}

div.hideonline {display: none;}


/* inline  */
.inline {display: inline-block;}

/* no select text */
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


body {
    margin: 0;
    padding: 0;
	min-height: 20px;
	background-color: #FFFFFF;
}

body, button, input, textarea {
    font-family: 'Tahoma', sans-serif; color: #000000; scroll-behavior: smooth;
}

/* SEGMENT UPPER  */
#SEG1 {
	background-color: rgba(157, 170, 162, 0.5);
	z-index: 3;
	max-width: 986px; padding: 10px; height: 20px; flex-direction: column; align-items: left; justify-content: center; border: 1px solid #000000;
}


/* DROPDOWN MENU UPPER */
.container {text-align: center; overflow: auto; }
.dropdown {float: right; position: relative; display: inline-block; color: #000000;}
	.dropbtn {background-color: #EDCC8B; width: 140px; height: 26px; color: #000000; padding: 3px; font-size: 14px; border: 1 px; cursor: pointer; margin-bottom: 2px;}
	.dropbtn::before {content: ''; position: absolute; top: -2px; right: -2px; bottom: -2px; left: -2px; z-index: 2;}
	.dropdown-content {display: none; position: absolute; background-color: #FFFFFF; font-size: 12px; min-width: 80px; border: 1px solid #000000; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 3;}
	.dropdown-content a {color: #000000; padding: 3px 3px; text-decoration: none; display: block;}
	.dropdown:hover .dropdown-content {display: block;}
	.dropdown-content a:hover {background-color: #FFADAD;}
	.dropdown:hover .dropbtn {background-color: #EDCC8B;}
				
.remove-button {display: block; margin: 5px 0px 0px 0px; width: 20px; background-color: #FFADAD; color: #000000; border: 1px solid #000000; padding: 0px 0px; cursor: pointer;	}

.dropTNM {
    float: left;
    position: relative;
    display: inline-block;
    color: #000000;
}

/* IFRAMES   */
.page-container {display: flex; align-items: flex-start; max-width: 1020px; min-height: 10 px; z-index: 2;}
iframe, iframes {min-height: 10px; z-index: 2; background-color: #FFFFFF;} 



/* divs  */
.standardwidth {max-width: 1000px; border: 1px solid #000000; padding: 3px;}
.standardwidthHALF {max-width: 496px; border: 1px solid #000000; padding: 3px; flex-grow: 1;}
.standardwidthV {max-width: 1000px; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 2px; padding-right: 2px; }
.table-container {display: flex; align-items: flex-start; }

#indikace {width: 100%;box-sizing: border-box;}

.mydiv0 {background-color: #D3DCE9; font-Size: 13; font-weight: bold;}
.mydiv1 {background-color: #DDD5D5;}
.mydivTNM {background-color: none;}
.DIVLesions {background-color: ; padding: 2px; font-Size: 12;}


/* SELECT  */

select {background-color: #FFFFFF; color: #000000; border-color: #000000;}
select:focus {background-color: #FFFFFF; outline-color: 000000;}
select:hover {background-color: #FFFFFF; }
select:disabled {color: #a0a0a0; background-color: #000000;}
option {color: #000000; background-color: #FFFFFF;}




/* BRAIN */
#WM, #GMSA, #Loziska, #MMK, #hypoepi, #ostatni, #angio {background-color: #E8E1D5; padding: 3px; font-size: 12; font-weight: bold;}

/* KNEE */
#kneeobecne, #komppredni, #kommedialni, #kommedlat, #komlateralni, #vazy, #others {background-color: #E8E1D5; padding: 3px; font-size: 12; font-weight: bold;}
.flex-container {display: flex; }

/* SHOULDER */
#shouldergeneral, #AC, #GH, #RM, #labrum, #biceps, #shoulderothers {background-color: #E8E1D5; padding: 3px; font-size: 12; font-weight: bold;}

/* PROSTATE */

.prostatesegments {height: 498px; text-align: left; vertical-align: middle; cursor: default; position: absolute; background: #FFFFFF; z-index: 1;  left: 38px; border-radius: 2px;  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);} 
.overlay-button {position: absolute; border: 0px;}
.CTLesion1 {cursor: pointer; color: #000000; font-weight: bold; background-color: rgba(255, 255, 255, 0.7); border-radius: 4px;}
.CTLesion1.active {color: red; }
.CTLesion2 {cursor: pointer; color: #000000; font-weight: bold; background-color: rgba(255, 255, 255, 0.7); border-radius: 4px;}
.CTLesion2.active {color: red; }
.CTLesion3 {cursor: pointer; color: #000000; font-weight: bold; background-color: rgba(255, 255, 255, 0.7); border-radius: 4px;}
.CTLesion3.active {color: red; }
.prostateinput {width: 225px;}

.prostateLNRegclass {vertical-align: middle; cursor: default; position: absolute; background: #FFFFFF; z-index: 1;  left: 326px; border-radius: 2px; border: 0px solid #000000; } 
.ProstateLNReg {width: 225px; background-color: #FFFFFF; border: 1px solid #000000; border-collapse: collapse; border-spacing: 0; border-radius: 2px; box-shadow: 0px 5px 10px rgba(0,0,0,0.5);}
.ProstateLNReg td {border: 1px #FFFFFF; width: 100px; text-align: center; padding: 1px;}
.ProstateLNReg td:nth-child(1), .ProstateLNReg td:nth-child(3) {width: 55px;}

.prostateLNNonRegclass {vertical-align: middle; cursor: default; position: absolute; background: #FFFFFF; z-index: 1;  left: 326px; border-radius: 2px; border: 0px solid #000000; } 
.ProstateLNNonReg {width: 225px; background-color: #FFFFFF; border: 1px solid #000000; border-collapse: collapse; border-spacing: 0; border-radius: 2px; box-shadow: 0px 5px 10px rgba(0,0,0,0.5);}
.ProstateLNNonReg td {border: 1px #FFFFFF; width: 100px; text-align: center; padding: 1px;}
.ProstateLNNonReg td:nth-child(1), .ProstateLNNonReg td:nth-child(3) {width: 55px;}


/* RECTUM */
.titleRect {width: 100px; background-color: #EDCC8B	; text-align: left; font-weight: bold; border: 1px solid #000000; font-Size: 12;}

.RectTuLNRegclass {vertical-align: middle; cursor: default; position: absolute; background: #FFFFFF; z-index: 1;  left: 326px; border-radius: 2px; border: 0px solid #000000; } 
.RectTuLNReg {width: 225px; background-color: #FFFFFF; border: 1px solid #000000; border-collapse: collapse; border-spacing: 0; border-radius: 2px; box-shadow: 0px 5px 10px rgba(0,0,0,0.5);}
.RectTuLNReg td {border: 1px #FFFFFF; width: 100px; text-align: center; padding: 1px;}
.RectTuLNReg td:nth-child(1), .RectTuLNReg td:nth-child(3) {width: 55px;}


/* CERVIX */
.titleCervix {width: 100px; background-color: #EDCC8B	; text-align: left; font-weight: bold; border: 1px solid #000000; font-Size: 12;}

.Cervixinput {width: 225px;}

.CervixLNRegclass {vertical-align: middle; cursor: default; position: absolute; background: #FFFFFF; z-index: 1;  left: 321px; border-radius: 2px; border: 0px solid #000000;} 
.CervixLNReg {width: 225px; background-color: #FFFFFF; border: 0px solid #000000; border-collapse: collapse; border-spacing: 0; border-radius: 2px; box-shadow: 0px 5px 10px rgba(0,0,0,0.5);}
.CervixLNReg td {border: 1px #FFFFFF; width: 100px; text-align: center; padding: 1px;}
.CervixLNReg td:nth-child(1), .CervixLNReg td:nth-child(3) {width: 55px;}

/* CP, LP */

#TABULKA tr td:nth-last-child(-n+3), #TABULKA tr th:last-child { display: none;}

#myL1LISDButton, #myL1SLButton, #myL12HDButton, #myL12HERPFButton, #myL12HERPPButton, #myL12HERCButton, #myL12HERLPButton, #myL12HERLFButton, #myL12MIGButton {display: none;} 
#myL2LISDButton, #myL2SLButton, #myL23HDButton, #myL23HERPFButton, #myL23HERPPButton, #myL23HERCButton, #myL23HERLPButton, #myL23HERLFButton, #myL23MIGButton {display: none;} 
#myL3LISDButton, #myL3SLButton, #myL34HDButton, #myL34HERPFButton, #myL34HERPPButton, #myL34HERCButton, #myL34HERLPButton, #myL34HERLFButton, #myL34MIGButton {display: none;} 
#myL4LISDButton, #myL4SLButton, #myL45HDButton, #myL45HERPFButton, #myL45HERPPButton, #myL45HERCButton, #myL45HERLPButton, #myL45HERLFButton, #myL45MIGButton {display: none;}
#myL5LISDButton, #myL5SLButton, #myL5S1HDButton, #myL5S1HERPFButton, #myL5S1HERPPButton, #myL5S1HERCButton, #myL5S1HERLPButton, #myL5S1HERLFButton, #myL5S1MIGButton {display: none;} 

#myC2LISDButton, #myC2SLButton, #myC23HDButton, #myC23HERPFButton, #myC23HERPPButton, #myC23HERCButton, #myC23HERLPButton, #myC23HERLFButton, #myC23MIGButton {display: none;}
#myC3LISDButton, #myC3SLButton, #myC34HDButton, #myC34HERPFButton, #myC34HERPPButton, #myC34HERCButton, #myC34HERLPButton, #myC34HERLFButton, #myC34MIGButton {display: none;} 
#myC4LISDButton, #myC4SLButton, #myC45HDButton, #myC45HERPFButton, #myC45HERPPButton, #myC45HERCButton, #myC45HERLPButton, #myC45HERLFButton, #myC45MIGButton {display: none;} 
#myC5LISDButton, #myC5SLButton, #myC56HDButton, #myC56HERPFButton, #myC56HERPPButton, #myC56HERCButton, #myC56HERLPButton, #myC56HERLFButton, #myC56MIGButton {display: none;} 
#myC6LISDButton, #myC6SLButton, #myC67HDButton, #myC67HERPFButton, #myC67HERPPButton, #myC67HERCButton, #myC67HERLPButton, #myC67HERLFButton, #myC67MIGButton {display: none;}
#myC7LISDButton, #myC7SLButton, #myC7T1HDButton, #myC7T1HERPFButton, #myC7T1HERPPButton, #myC7T1HERCButton, #myC7T1HERLPButton, #myC7T1HERLFButton, #myC7T1MIGButton {display: none;} 


#MRLPshape body {font-family: "Arial", sans-serif; font-size: 12px; font-weight: bold; }
#MRLPshape table {border-collapse: collapse;border: 0px solid #000000; font-weight: bold; background-color: ;}
#MRLPshape td {border: 1px #E8DF90;}

#NADPISY0 {color:#000000;  text-align: center; font-weight: bold; border: 0px solid #000000; border-bottom: none;}
#NADPISY {color:#000000;  text-align: center; font-weight: bold; border: 0px solid #000000; border-top: none;}


/* NaF */
.NaFLocation {cursor: pointer; color: #000000; font-weight: bold; font-size: 20px; background-color: rgba(255, 255, 255, 0.5); border-radius: 4px; padding: 2px 4px;}
.NaFLocation.mild {color: purple;}
.NaFLocation.active {color: red; }

/* TABLES */


table {border-collapse: collapse; border: 0px solid #000000; font-Size: 12px; }
tr { height: 20px;}

.options {height: 24px; padding: 5px; text-align: left; vertical-align: middle; cursor: default; position: absolute; background: #FFFFFF; z-index: 1; left: 160px; border-radius: 2px; border: 1px solid #000000; table-layout: auto;  } 
.optionsWML {height: 24px; padding: 5px; text-align: left; vertical-align: middle; cursor: default; position: absolute; background: #FFFFFF; z-index: 1; left: 128px; border-radius: 2px; border: 1px solid #000000; table-layout: auto;  } 
.options td {vertical-align: top;}
.suboptions {height: 24px; padding: 5px; text-align: left; vertical-align: top; cursor: default; background: #FFFFFF; z-index: 1; left: 160px; border-radius: 2px; border: 0px solid #000000; } 
.Lesions {height: 24px;  text-align: center; vertical-align: middle; cursor: default;}
.LymphNodes {height: 24px; border-right: 3px solid #FFFFFF; text-align: center; vertical-align: middle; cursor: default;}
.Others {height: 24px; text-align: left; vertical-align: top; cursor: default;}
.organs {height: 24px; border-right: 3px solid #FFFFFF; text-align: center; vertical-align: middle; cursor: default;}
.middle {text-align: center;}
.right {text-align: right; padding-right: 3px;}

.center-content {display: flex;justify-content: center;align-items: center;}

.overlay { position: absolute; z-index: 10; background-color: #FFFFFF; border: 0px solid #000000; }
.overlay td { background-color: #FFFFFF; box-sizing: border-box;}
.overlay table { background-color: #FFFFFF; border: 1px solid #000000; border-collapse: collapse; border-spacing: 0; border-radius: 2px; box-shadow: 0px 5px 10px rgba(0,0,0,0.5);}

.inputothers {box-sizing: border-box; width: 100%; min-width: 100%; resize: none; height: 22px; font-Size: 12px; overflow: hidden;}

/* BUTTONS */

button {border-radius: 1px; border: 1px solid #000000; height: 20px; background-color: #EDEDED; width: 20px;text-align: center; border-radius: 0px;}
.title {width: 86px; background-color: #EDCC8B; text-align: left; font-weight: bold; border: 1px solid #000000; font-Size: 12;}
.titleFlex {width: auto; background-color: #EDCC8B; text-align: left; font-weight: bold; border: 1px solid #000000; font-Size: 12;}
.myButtonLesion {width: 30px; background-color: #D3DCE9;}
.myButtonLesionS {width: 30px; background-color: #FFADAD;}
.myButtonLN {width: 30px; background-color: #D3DCE9;}
.myButtonLNselect {width: 30px; background-color: #FFADAD;}
.toggleColorRed {background-color: #FFADAD;}
.myButtonO {width: 30px; background-color: #D3DCE9;}
.button20 {width: 20px;}
.button40 {width: 40px;}
.button50 {width: 50px;}
.button60 {width: 60px;}
.button80 {width: 80px;}
.buttonSELECT {width: 80px; font-weight: bold;}
.button100 {width: 100px;}
.button120 {width: 120px;}
.button140 {width: 140px;}.buttonX {width: 25px; background-color: rgba(255, 255, 255, 0.8); }
.button160 {width: 160px;}
.buttonStrana {width: 80px; height: 18px; border: 1px solid orange;}
.buttonTEXT {font-Size: 12px; font-weight: bold; width: 86px; text-align: left; background-color: #EDCC8B;}
.inputAddLocation {width: 220px; }
.others {width: 80px; height: 18px;}
.others100 {width: 100px; height: 20px;}
.othersX {width: 180px; height: 18px;}



/* TEXTS */

textarea {width: 99%;  height: 20px; resize: none; background-color: #FFFFFF; }
textarea.small { width: 99.8%; height: 50px; }
textarea.medium { width: 99.8%; height: 100px;}
textarea.large { width: 99.8%; height: 150px; }
textarea.superlarge { width: 99.8%; height: 250px; }
textarea.XXL { width: 99.8%; height: 350px; }

/* INPUT TEXT */

input {  border: 1px solid #000000; text-align: left; padding-left: 5px; border-radius: 0px; text-align: left; background-color: #FFFFFF;} 
.input80 {width: 80px;}
.input100 {width: 100px;}
.input140 {width: 140px;}
.input160 {width: 160px;}
.input200 {width: 200px;}
.input300 {width: 300px;}
.input400 {width: 400px;}
.inputOtherFinding {width: 400px; overflow: hidden;}}


#INDIKACE .mydiv1.standardwidth input {
  width: 400px;
  background-color: #FFFFFF;
}
  
/* COPY */

.highlight {
    border: 2px solid #E8DF90; /* Change to whatever color you want */
}

/* SELECTIONS  */

  select::-ms-expand {
    display: none;
  }
  select {
    text-align: left;
	padding-left: 5px;
	height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
	border-radius: 0px;
  }

.select20 {width: 20px;}
.select40 {width: 40px;}
.select60 {width: 60px;}
.select80 {width: 80px;}
.select100 {width: 100px;}
.select120 {width: 120px;}

.selectLESION {
    padding-right: 2px;
	padding-left: 2px;	
}
  
 /* Custom Chbes */ 
 
.CHB input[type="checkbox"] {
  display: none;
}

.CHB span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin: 0px 0px 0px 3px;
  vertical-align: middle;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 1px;
  box-sizing: border-box;
  cursor: pointer;
  /* border-radius: 10px;  */
}

.CHB input[type="checkbox"]:checked + span {
  background: #D4A29C;
}

.CHB input[type="checkbox"]:checked :after {
  content: '+';
  color: #000000;
  font-Size: 14px; /* adjust this as needed */
}


/* COPY */

.highlight {
    border: 2px solid #E8DF90; /* Change to whatever color you want */
}


/* images */

#krknodImage, #mednodImage, #chestsegImage {
  position: fixed;
  top: 0px;
  right: 20px;
  z-index: 9999;
  display: none;
  height: 377px;
  width: auto;
}
#krknodImage { transform: scale(1.2); }

@keyframes blink { 0%, 100% { opacity: 1; } 50% { opacity: 0; } }
.blinking { animation: blink 0.2s linear 1; /* Blink for 0.5 seconds, 2 times */ }


.background-image {
    position: absolute;
    top: 0; /* Adjust as necessary */
    left: 0; /* Adjust as necessary */
    z-index: -1; /* Puts the image behind the content */
}


/* TNM FILES */

.standardwidthTNM {max-width: 1006px; border: 1px solid #000000; padding:0px;}

body.TNM, body.TNM p {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif; 
    color: #000000; 
    scroll-behavior: smooth; 
    font-size: 12px; 
}

body.TNM .standardwidth {
    max-width: 1000px; 
    border: 1px solid #000000;
}

body.TNM {
    width: 100%;
    border-collapse: collapse;
}

body.TNM th, body.TNM td {
    border: 1px solid #cccccc;
    padding: 1px;
    text-align: left;
}

body.TNM th {
    background-color: #D3DCE9;
    color: #000000;
}

body.TNM td {
    background-color: #ffffff;
}

body.TNM td:first-child, body.TNM td:nth-child(2), body.TNM .main-row {
    font-weight: bold;
}
